.section {
    @include adaptive-value("margin-top", 100, 50, 1);

    // .section__container

    &__container {
    }

    // .section__body

    &__body {
    }

    h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;

        @media (max-width: 1024px) {
            margin-bottom: 10px;
        }
    }
}
